*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 10px;
    margin: 0;
    padding: 0;
}

#container{
    margin: 0;
    padding: 0;
    background:url('./image/bg4.jpg') no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.headerSec{
    display: flex;
}
.createBoardIcon{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    align-items: center;
}
.addIcon{
    background-color: grey;
    color: white;
    cursor: pointer;
}
.heading{
    margin-top: 5%;
    display: flex;
    margin-left: 5%;
    color: white;
    font-weight: 900;
    width:fit-content;
    padding: 15px;
    border-radius: 30px;
    background-color: 	#8B4513;
}
#common_title{
margin-left: 10px;
}
.title{
    display: flex;
    align-items: center;
   margin:10px 20px;
}
.add_NewBoard{
    width: 100%;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    background-color: green;
}

.showBoards{
    width: 100%;
}
#boardArea{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#boardArea > div {
    margin: 10px;
  }
.eachBoardDiv{
    cursor: pointer;
    border-radius: 20px;
    min-width:17%;
    color: black;
    display: flex;
    min-height:150px;
    justify-content: center;    
}
.deleteDiv{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.boardTitle{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
h5{
    color: black;
}